<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
"> 
	<context:component-scan base-package="com.bjsxt.crm" ></context:component-scan>
	<aop:aspectj-autoproxy /> 
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">  
            <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>  
            <property name="url" value="jdbc:mysql://localhost:3306/crm"></property>  
            <property name="username" value="root"></property>  
            <property name="password" value="1234"></property>
            
            <property name="initialSize" value="10"></property>
            <property name="maxActive" value="20"></property>
    </bean>  
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="sessionFactory"  class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"   >
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect" >org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql" >true</prop>
				<prop key="hibernate.format_sql" >true</prop>
				<prop key="hibernate.hbm2ddl.auto" >update</prop>
			</props>
		</property>
	
		<property name="dataSource" ref="dataSource"></property>
		
		<property name="packagesToScan">
			<list>
				<value>com.bjsxt.crm.po</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务的配置 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" >
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager" /> 
	
	
	<aop:config> 
		<aop:pointcut expression="execution(public * com.bjsxt.crm.service.impl.*.*(..))" id="bussinessService"/> 
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bussinessService" /> 
	</aop:config> 

	<tx:advice id="txAdvice" transaction-manager="txManager" > 
		<tx:attributes> 
			<tx:method name="find*"  read-only="true" propagation="NOT_SUPPORTED"  /> 
			<!-- find开头的方法不需要在事务中运行 。 
			有些情况是没有必要使用事务的，比如获取数据。开启事务本身对性能是有一定的影响的--> 
			<tx:method name="add*"/>    <!-- 其他方法在实务中运行 --> 
			<tx:method name="del*"/>    <!-- 其他方法在实务中运行 --> 
			<tx:method name="update*"/>    <!-- 其他方法在实务中运行 --> 
			<tx:method name="re*"/>    <!-- 其他方法在实务中运行 --> 
		</tx:attributes> 
	</tx:advice> 
</beans>